In [1]:
list = ["Apple", 1, 3.5, True, [1,3], {"Ready" : "yes"}]

In [2]:
list_of_names = []
type(list_of_names)

list

In [4]:
my_list = list()
type(my_list)

TypeError: 'list' object is not callable

In [7]:
my_list2 = list('January')
print(my_list2)

TypeError: 'list' object is not callable

In [8]:
my_num_list = [1, 2, 3]
my_num_list.append("Bekir")

In [9]:
print(my_num_list)

[1, 2, 3, 'Bekir']

In [10]:
my_num_list.clear()
my_num_list

[]

In [11]:
my_num_list.append('Betul')

In [12]:
print(my_num_list)

['Betul']

In [13]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

In [15]:
list3 = [4, 5]
list4 = [6, 7]
list3.append(list4)
list3

[4, 5, [6, 7]]

In [16]:
list4.extend(list3)
list4

[6, 7, 4, 5, [...]]

In [18]:
list1 = list2

In [20]:
print(id(list1))
print(id(list2))

2888285933440
2888285933440

In [21]:
list1.append(5)

In [22]:
list2

[3, 4, 5]

In [27]:
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]
my_list1 = my_list2.copy()
print(my_list1)
print(my_list2)
print(id(my_list1))
print(id(my_list2))

[4, 5, 6]
[4, 5, 6]
2888292067328
2888292062848

In [29]:
my_list1.count(4)

1

In [30]:
my_list1.index(5)

1

In [31]:
my_list1.insert(0, 8)

In [33]:
print(my_list1)

[8, 4, 5, 6]

IndexError: pop index out of range

In [34]:
my_list1.pop(1)

4

In [35]:
print(my_list1)

[8, 5, 6]

In [37]:
my_list1.sort()

In [38]:
my_list1

[5, 6, 8]