In [3]:
# This line prints a hello world.
#* Comments are helpful for people who read your code in the future.
print('Hello World')
print('My name is Bekir, today I started to learn Python programming language.')

Hello World
My name is Bekir, today I started to learn Python programming language

In [9]:
#Variables
#Python is dynamic programming language.

my_var = 'Hello World'
my_num = 12

print(type(my_num))
print(type(my_var))

<class 'int'>
<class 'str'>

In [11]:
first_name = "Bekir"
surname = "Kasan"
my_age = 29

print(first_name)
print(surname)
print(my_age)

Bekir
Kasan
29

In [15]:
#String
greeting = "Hello World!"
str_car = "Ferrari is my favourite car."
print(type(greeting))
print(greeting)
print(str_car)

<class 'str'>
Hello World!
Ferrari is my favourite car.

In [16]:
paragraph = '''
Lorem Ipsum is simply dummy text of the printing and 
typesetting industry. Lorem Ipsum has been the industry's 
standard dummy text ever since the 1500s, when an unknown 
printer took a galley of type and scrambled it to make a 
type specimen book. It has survived not only five centuries, 
but also the leap into electronic typesetting, remaining 
essentially unchanged. It was popularised in the 1960s with 
the release of Letraset sheets containing Lorem Ipsum passages, 
and more recently with desktop publishing software like Aldus 
PageMaker including versions of Lorem Ipsum.'''

print(paragraph)

Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown
printer took a galley of type and scrambled it to make a
type specimen book. It has survived not only five centuries,
but also the leap into electronic typesetting, remaining
essentially unchanged. It was popularised in the 1960s with
the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus
PageMaker including versions of Lorem Ipsum.

In [19]:
last_name = "Savran"
last_name_with_spacing = "S a v r a n"
print(len(last_name))
print(len(last_name_with_spacing))

6
11

In [2]:
# Python slicing strings
my_cat = "Duman"
my_cat[0:5:2]

'Dmn'

In [4]:
my_cat2 = "Demon"
my_cat2[2:]
my_cat2[:3]

'Dem'

In [7]:
# String Methods
full_name = "Bekir Kasan"

full_name.upper()
full_name.lower()

'bekir kasan'

In [8]:
title = "Global News"

title.title()

'Global News'

In [13]:
my_new_var = "Edip Edirne'de pide yessssssssssss"
lower_var = my_new_var.lower()

my_new_var.count("Ed")
my_new_var.count("e")
lower_var.count("e")
print(my_new_var)# Original variable is same as above.

Edip Edirne'de pide ye

In [17]:
my_new_var.split()

['Edip', "Edirne'de", 'pide', 'ye']

In [19]:
my_new_var.replace("Edirne'de", "Antalya'da")

"Edip Antalya'da pide ye"

In [20]:
my_new_var.startswith("e")

False

In [21]:
my_new_var.startswith("E")

True

In [23]:
my_new_var.strip('s')

"Edip Edirne'de pide ye"

In [25]:
my_new_var.index('r')

8

In [26]:
my_new_var.find('x')

-1

In [29]:
#Integer
my_int = 12

my_int

12

In [30]:
my_int * 2

24

In [31]:
my_int + 100

112

In [32]:
my_int ** 2

144

In [33]:
## floor division
7 // 2

3

In [34]:
7 % 2

1

In [35]:
#floating numbers
money_spent = 15.50

print(type(money_spent))

<class 'float'>

In [37]:
cat_name = "Duuman"
age = 2

print(f"My cat's name is {cat_name}, he is {age} years old.")

My cat's name is Duuman, he is 2 years old.

In [42]:
turn_on_lights = True

In [43]:
if turn_on_lights:
    print('Please turn on the ligths!')
else:
    print('Please turn off the lights!')

Please turn on the ligths!

In [45]:
num1 = 2
num2 = 5

print(num1 == num2)

False

In [47]:
num2 = str(num2)
print(type(num2))

<class 'str'>

In [48]:
f_name = "Mahmut"
s_name = "Yilmaz"

f_name + " " + s_name

'Mahmut Yilmaz'